* {
/*border: 1px solid orange;	*/
}
body {
background: url("../img/bg.png");
}
p {
font-size: 14px;
line-height: 1.5em;
}
h1 {
font-family: 'Lovers Quarrel', cursive;
font-size:70px;
}
h2 {
font-family: 'Imprima', sans-serif;
margin-top:30px;
}
header {
margin-top:-40px;
margin-bottom:15px;	
}
header aside ul {
margin-top:50px;
}
header aside ul li {
list-style:none;
margin-bottom:15px;   
}
#login-wrapper {
background: url("../img/bg.png");
display:none;
height:120px;
margin-top:-120px;
position: absolute; 
width:260px;
}
#login-wrapper a {
background: url("../img/icon-close.png");
display: block;
float: right;
height: 24.5px;
width: 25px;
}
#login-wrapper a:hover {
background: url("../img/icon-close-hover.png");
}
#top-colors {
height:100px;
width:100%;
}
#top-colors div {
display:inline-block;	
height:10px;
line-height: 0px;
vertical-align: top;
width:20%;	
}
#top-colors div:nth-of-type(1) {
background:#D6CCCB;	
}
#top-colors div:nth-of-type(2) {
background:#EA2C46;
}
#top-colors div:nth-of-type(3) {
background:#615A55;
}
#top-colors div:nth-of-type(4) {
background:#33C7B8;
}
#top-colors div:nth-of-type(5) {
background:#DEDEDE;
}
#info {
color:#615A55;	
}
.contenido-obra h3{
color:#6A343B;
margin-bottom:20px;
}
.contenido-obra div:nth-of-type(3) {
text-align: center;
}
.ratings {
color: #284744;
margin-top:20px;
margin-bottom:25px;	
}
#obras {
position:relative;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
}
#obras ul {
margin-left:0px;	
}
.separator {
border-top:1.6px solid #D6CCCB;
border-bottom:1.6px solid #DEDEDE;
box-shadow:1px 4px 7px #615A55;
}
.separator-obra-inner {
margin-top:20px;
margin-bottom:20px;
margin-left:0px;
width: 100%;
}
.thumbnails > li {
margin-left: 0px;	
}
.thumbnail {
background: #f5f5f5;	
}
.thumbnail {
transition: background .4s ease-out;
-webkit-transition: background .4s ease-out;
-moz-transition: background .4s ease-out;
-o-transition: background .4s ease-out;
}
.thumbnail:hover {
background: #fff;
}
.obra .thumbnail img:nth-of-type(1){
margin-top:6px;
}




